In [ ]:
def printme(str): 
    print(str); 
    return; 

printme("I'm first call to user defined function!"); 
printme("Again second call to the same function");

In [ ]:
def changeme( myList): 
    myList.append([1,2,3,4]) 
    print ("Values inside the function:", myList) 
    return 

myList = [10,20,30] 
changeme( myList) 
print ("Values outside the function: ", myList)

In [ ]:
def changeme(myList): 
    myList = [1,2,3,4]; 
    print("Values inside the function: ",myList) 
    return 

myList = [10,20,30,];
changeme( myList); 
print("Values outside the function: ",myList)

In [ ]:
def printme (str): 
    print(str); 
    return; 

printme(str = "My String");

In [2]:
def printinfo(name, age): 
    print("Name: ", name); 
    print("Age: ", age); 
    return; 
printinfo( age = 50, name = "miki");

Name:  miki
Age:  50

In [5]:
def printinfo(name,age = 35): 
    print("Name: ", name); 
    print("Age: ",age);
    return; 
printinfo(age = 50, name = "miki"); 
printinfo(name = "miki");

Name:  miki
Age:  50
Name:  miki
Age:  35

In [6]:
def printinfo(arg1, *vartuple): 
    
    print("Output is: ") 
    print(arg1) 
    for var in vartuple: 
        print(var) 
        return; 
printinfo(10); 
printinfo(70,60,50);

Output is:
10
Output is:
70
60

In [7]:
total = 50; 
def sum(arg1, arg2): 
    total = arg1 + arg2; 
    print("Inside the function local total: ",total) 
    return total; 

sum(10,20);  
print("Outside the function global total: ", total)

Inside the function local total:  30
Outside the function global total:  50

In [14]:
def swap(x,y): 
    global a
    a = "Lawal" 
    x,y = y,x 
    b = "Chris" 
    b = "Edward" 
    c = "Lola" 
    print(a,b,x,y) 
    a = "Mary" 
swap("Tina", "Tolu") 
print(a)

Lawal Edward Tolu Tina
Mary