In [4]:
girls = ["Samantha","Jada","Jane","Claire",
         "Elizabeth","Mary","Susan","Waje","Taibat","Lilian"] 

girls_age = [17,16,17,18,16,18,17,20,19,17]

girls_height = [5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5] 

girls_score = [80,85,70,60,76,66,87,95,50,49]
print(" Name   |  age  | height | score")
for var1 in range(len(girls)): 
    print(f"{girls[var1]} | {girls_age[var1]} | {girls_height[var1]} | {girls_score[var1]}")

 Name   |  age  | height | score
Samantha | 17 | 5.5 | 80
Jada | 16 | 6.0 | 85
Jane | 17 | 5.4 | 70
Claire | 18 | 5.9 | 60
Elizabeth | 16 | 5.6 | 76
Mary | 18 | 5.5 | 66
Susan | 17 | 6.1 | 87
Waje | 20 | 6.0 | 95
Taibat | 19 | 5.7 | 50
Lilian | 17 | 5.5 | 49

In [6]:
boys = ["Charles","Jude","James","Kelvin","Biodun","Wale","Kunle","Matthew","Tom","Kayode"] 

boys_age = [19,16,18,17,20,19,16,18,17,19] 

boys_height = [5.7,5.9,5.8,6.1,5.9,5.5,6.1,5.4,5.8,5.7] 

boys_score = [74,87,75,68,66,78,87,98,54,60]  
print("Name  |   age   |   height   | score  ")

for var2 in range(len(boys)):  
    print(f"{boys[var2]} | {boys_age[var2]}   | {boys_height[var2]}    | {boys_score[var2]}")

Name  |   age   |   height   | score
Charles | 19   | 5.7    | 74
Jude | 16   | 5.9    | 87
James | 18   | 5.8    | 75
Kelvin | 17   | 6.1    | 68
Biodun | 20   | 5.9    | 66
Wale | 19   | 5.5    | 78
Kunle | 16   | 6.1    | 87
Matthew | 18   | 5.4    | 98
Tom | 17   | 5.8    | 54
Kayode | 19   | 5.7    | 60